* {
    margin: 0;
    padding:0;
}

body, html {
    font-family: Arial, Tahoma, sans-serif;
}

#fundo {
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;
}

#fundo img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    position: absolute;
}

#site {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 560px;
    padding: 20px;
    margin-left: -300px; /* por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site */
    background: #FFF; /* fundo branco para navegadores que não suportam rgba */
    background: rgba(255,255,255,0.8); /* fundo branco com um pouco de transparência */
}
#info {
    position: absolute;
    top: 300px;
    left: 30%;
    width:90%;
    padding: 20px;
    margin-left: -300px; /* por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site */
    background: #0000; /* fundo branco para navegadores que não suportam rgba */
    background: rgba(255,255,255,0.8); /* fundo branco com um pouco de transparência */
}


#tabela {
    text-align: center;
    margin: auto;
    width: 50%;
}

#menu2 img {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}


#menu1 th {
    padding-left: 50px;
    padding-right: 40px;
}

#menu3 td {
    padding-top: 30px;
} 

#site #campo {
   margin-left: 30%;
}

#site h1{
    text-align: center;
    padding-bottom: 10px;
}

#site button {
    margin-left: 60%;
}

#flag {
    width: 200%;
    margin-left: 200%;
    padding-bottom: 30px;
}

#paisErro {
  color: rgba(255, 0, 0);
  border: solid red;
  margin: 15px 0 0 100px;
  width: 70%;
  text-align: center;
}

button {
    margin-top: 10px;
}

.hidden {
    display: none;
}